
<html>
<head>
    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.1.0/css/line-awesome.min.css">
<style>

.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.card {
  grid-area: 1 / 1;
  width: 300px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: white;
  display: block;
  text-align: center;
  /*padding: 30px 10px 15px 10px;*/
  color: #ffffff;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  border: 9px solid #b1b1b1;
}

.card img {
  width: 70%;
}

.hovered {
  transform: none;
}

.wrapper > div {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}


html { 
  background: url({{@site.cover_image}}) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.content {
  padding: 20px;
}

.contentDetails {
  display: grid;
  background-color: #6a3f8a;
  grid-template-columns: auto auto;
}

.iconsSize {
 font-size: 64px;
}

a {
    text-decoration: none; 
    color: #ffffff; 
}

.name {
  grid-column-start: 1;
  grid-column-end: 3;
}

</style>
</head>
<body>
<div class="wrapper">
<div class="card" id="card">
  <div class="content">
  <a href="{{@site.url}}">
  <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" /></a>
</div>
<div class="contentDetails">
  <div class="name">
    <h2>Simone Vicentini</h2>
  </div>
  <p><a href="tel:07767853593"><i class="las la-mobile iconsSize"></i></a></p>
  <p><a href="mailto:simone.vicentini@purplebeans.co.uk"><i class="la la-envelope iconsSize"></i></a></p>
  <p class="name">07767853593</p>
  <p class="name">simone.vicentini@purplebeans.co.uk</p>
</div>
</div>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script>
      window.onload = function () {
        setTimeout(function(){
      $("#card").addClass('hovered');
    }, 100);
    };
    </script>
</body>
</html>